* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul, ol, li{
    list-style: none;
}
html, body{
    scroll-behavior: smooth;
}
header{
    background-color: #333;
    position: fixed;
    width: 100vw;
}

header nav ul{
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

header nav a{
    color: white;
    padding: 8px;
    transition: background-color 1s; /*transicao da cor*/ /*background só para ser no background ou se nao tira*/
}

header nav a:hover{
    background-color: aqua; /* para ficar contornado. Para ficar sem contorno [e só deixar a cor*/
    color: black;
  /*se nao quiser que mude a cor, mas sublinhe é so usar bottom-border 4px tomato*/
}

.grupo{
    height: 100vh;
}

#vermelho{
    background-color: #ff6b6b;
}
#verde{
    background-color: #1dd1a1;
}
#azul{
    background-color: #54a0ff;
}
#amarelo{
    background-color: #feca57;
}
#roxo{
    background-color: purple;
}