* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul, ol, li{
    list-style: none;
}
html, body{
    scroll-behavior: smooth;
}
header{
    background-color: #550443;
    position: fixed;
    width: 100vw;
}

header nav ul{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

header nav a{
    color: white;
    padding: 16px;
    
    transition: background-color 1s; /*transicao da cor*/ /*background só para ser no background ou se nao tira*/
}

header nav a:hover{
    background-color: rgb(229, 180, 248); /* para ficar contornado. Para ficar sem contorno [e só deixar a cor*/
    color: black;
    opacity: 80%;
  /*se nao quiser que mude a cor, mas sublinhe é so usar bottom-border 4px tomato*/
}

.grupo{
    height: 100vh;
    align-items: center;
    background-color: blue;
}

#animadinha{
    background-color: #fb90dd;
}
#animadinha img{
    width: 80vh;
    height: 100vh;
    background-repeat: no-repeat;   
    display:flex;
    padding-top: 5vw;   
}
.texto p{
    width: 50vh;
    align-items: center;
}
#carinhosa{
    background-color: #dd8ce0;
}
#carinhosa img{
    width: 80vh;
    height: 100vh;
    background-repeat: no-repeat;   
    display:flex;
    padding-top: 2vw;
    margin-left: 3vw;   
}
#zangadinho{
    background-color: #9dc6e6;
}
#zangadinho img{
    width: 80vh;
    height: 100vh;
    background-repeat: no-repeat;   
    display:flex;
    padding-top: 2vw;   
}
#solzinho{
    background-color: #fffa9d;
}
#solzinho img{
    width: 80vh;
    height: 100vh;
    background-repeat: no-repeat;   
    display:flex;
    padding-top: 2vw;
    margin-left: 3vw;   
}
#boasorte{
    background-color: #aaea83;
}
#boasorte img{
    width: 80vh;
    height: 100vh;
    background-repeat: no-repeat;   
    display:flex;
    padding-top: 2vw;   
}
