* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul, ol, li{
    list-style: none;
}
html, body{
    scroll-behavior: smooth;
}
header{
    background-color: #550443;
    position: fixed;
    width: 100vw;
}

header nav ul{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

header nav a{
    color: white;
    padding: 16px;
    
    transition: background-color 1s; /*transicao da cor*/ /*background só para ser no background ou se nao tira*/
}

header nav a:hover{
    background-color: rgb(229, 180, 248); /* para ficar contornado. Para ficar sem contorno [e só deixar a cor*/
    color: black;
    opacity: 80%;
  /*se nao quiser que mude a cor, mas sublinhe é so usar bottom-border 4px tomato*/
}

.grupo{
    height: 100vh;
}

#animadinha{
    background-color: #fb90dd;
}
#animadinha img{
    width: 65vh;
    height: 80vh;
    background-repeat: no-repeat;   
    align-items:  center; 
    display:flex;
    position: relative;
    right: 1vh;
    top: 20vh;
}
#carinhosa{
    background-color: #dd8ce0;
}
#carinhosa img{
    width: 60vh;
    height: 70vh;
    background-repeat: no-repeat;   
    align-items:  center; 
    display:flex;
    position: relative;
    right: -10vh;
    top: 25vh
}
#zangadinho{
    background-color: #9dc6e6;
}
#zangadinho img{
    width: 55vh;
    height: 90vh;
    background-repeat: no-repeat;   
    align-items:  center; 
    display:flex;
    position: relative;
    right: 1vh;
    top: 10vh
}
#solzinho{
    background-color: #fffa9d;
}
#solzinho img{
    width: 60vh;
    height: 70vh;
    background-repeat: no-repeat;   
    align-items:  center; 
    display:flex;
    position: relative;
    right: -5vh;
    top: 30vh
}
#boasorte{
    background-color: #aaea83;
}
#boasorte img{
    width: 60vh;
    height: 70vh;
    background-repeat: no-repeat;   
    align-items:  center; 
    display:flex;
    position: relative;
    right: 1vh;
    top: 30vh
}